{{#partial "contenido" }}
                <div class="container-fluid">
<h1 class="h3 mb-2 text-gray-800">Comunidades</h1>
<p class="mb-4">Listado de comunidades registradas en el sistema.</p>
<div class="card shadow mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Crear Nueva Comunidad</h6>
                        </div>
                        <div class="card-body">
                            <form action="/comunidades/crear" method="POST">
                            <div class="form-group">
                                  <label for="exampleInputEmail1"><strong>Nombre de Comunidad</strong></label>
                    <input type="text" class="form-control" id="nombreComunidad" name="nombreComunidad"  placeholder="Nombre de comunidad">
        </div>
                       <div class="form-group mt-2">
                                    <label for="exampleInputEmail1"><strong>Intereses</strong></label>
                                  {{#each intereses}}
                                     <div class="form-check">
                                         <input class="form-check-input" type="checkbox" value="" name="{{this.id}}" id="{{this.id}}" >
                                         <label class="form-check-label" for="defaultCheck1">
                                           {{this.nombre}}
                                         </label>
                                     </div>

                                     {{/each}}
                                </div>
                                <button type="submit" class="btn btn-primary mt-3"> <i class="fas fa-fw fa-user-plus mr-1"></i>Crear comunidad</button>
                            </form>
                        </div>
                    </div>
</div>
{{/partial}}
{{> base }}