{{#partial "contenido" }}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Ranking</h1>
                    <p class="mb-4">{{descripcion}}</i></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Ranking</h6>
                        </div>
                        <div class="card-body tabla">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Criterio</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                                    {{#each ranking}}
                                                                <tr>
                                                                       <td>{{this.posicion}}</td>
                                                                   <td>{{this.entidad.nombre}}</td>
                                                                              <td>{{this.value}}</td>
                                                                         </tr>
                                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{{/partial}}
{{> base }}
